<div class="news-block">
  <div class="news-block__title">
    {{news.title}}
  </div>
  <div class="news-block__image">
    <img  src="{{news.image}}" alt="">
  </div>
  <div class="news-block__info">
    <div class="news-block__info-top">
      <div class="news-block__date">
        {{news.pubDate | date:'short' }}
      </div>
      <div class="news-block__category">
        {{news.category}}
      </div>
    </div>
    <div class="news-block__description">

      <angular-editor  [(ngModel)]="news.description" [config]="config" > </angular-editor>
    </div>
  </div>

  <div class="news-block__button">
    <div class="news-block__button-edit">
      <button type="button" class="btn btn-secondary" (click)="onEditNews(news.uuid)">Редактировать</button>
    </div>
    <div class="news-block__button-open">
      <button type="button" class="btn btn-primary" (click)="onOpenNews(news.uuid)">Читать полностью</button>
    </div>
  </div>
</div>
