.menu {
  width: 100%;
}

.content {
  padding: 65px 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  max-width: 1400px;
}


.container {
  width: 100%;
  margin: 0 auto;
}

/* Large */
@media only screen and (max-width: 1200px){
  .wrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
    max-width: 1400px;
  }


  .container {
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1199px){

}

/* Medium */
@media only screen and (max-width: 992px){
  .wrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
    max-width: 750px;
  }

  .container {
    width: 98%;
    margin: 0;
  }

  .content {
    padding: 10px 0;
  }
}

@media only screen and (max-width: 991px){

}

/* Tablet */
@media only screen and (max-width: 768px){
  .wrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
    max-width: 750px;
  }

  .container {
    width: 98%;
    margin: 0 15px;
  }

  .content {
    padding: 10px 0;
  }
}

/* Phone */
@media only screen and (max-width: 480px){
  .wrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
    max-width: 500px;
  }

  .container {
    width: 98%;
  }

  .content {
    padding: 10px 0;
  }
}

@media only screen and (max-width: 479px){
  .wrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  .container {
    width: 98%;
    margin: 0 auto;
  }

  .content {
    padding: 10px 0;
  }
}
