<div class="news-block">
  <div class="news-block__title">
    На Украине бизнесмена расстреляли на глазах у семилетнего сына
  </div>
  <div class="news-block__image">
    <img  src="https://icdn.lenta.ru/images/2020/07/24/12/20200724124919548/pic_f61df94e600039d58532b4769982bf9a.png" alt="">
  </div>
  <div class="news-block__info">
    <div class="news-block__info-top">
      <div class="news-block__date">
        Fri, 24 Jul 2020 12:44:33 +0300
      </div>
      <div class="news-block__category">
        Бывший СССР
      </div>
    </div>
    <div class="news-block__description">
      <angular-editor [(ngModel)]="htmlContent" [config]="config">654</angular-editor>
    </div>
  </div>

  <div class="news-block__button">
    <button type="button" class="btn btn-primary" (click)="onOpenNews()">Читать полностью</button>
  </div>
</div>
